body{
    font-family: 'Amazon Ember', sans-serif;
}


.logo{
    display: flex;
    justify-content: center;
    margin:45px;
    
}

.box{
    width: 300px;
    height: 250px;
    padding: 25px;
    display: flex;
    justify-content: space-around ;
    flex-direction: column;
    border: 2px solid lightgray;
    margin: 25px auto;
}

.box h1{
    font-weight: 700;
    font-size: 20px;
}

.box label{
    font-size: 14px;
}

#big_yellow{
   background-color:rgb(255, 153, 0); 
   border: 1px solid lightgray;
}

.box input{
    width: 300px;
}

.help{
   padding-left: 23px; 
}

.break{
    font-size: 16px;
    color: grey;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.big_grey{
    display: flex;
    justify-content: center;
}

.bottom_links{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 25px auto;
}

footer p{
    display: flex;
    justify-content: center;
}